/*--------------pagina busca---------------------------*/
/*cards busca*/
.busca-bg-card{
	background-color: #343a40 !important;
	color:#ff7400 !important;
}
a.busca-bg-card:hover{
	color: white !important;
}
ul.busca-a-pagination a{
	background-color: #343a40 !important;
	color:#ff7400 !important;
	border-radius: 15px;
}
ul.busca-a-pagination a:hover{
	color:white;
}
ul.busca-a-pagination{
	border-radius: 15px;
}
/*----------------------------------------------------*/

		.fundo a{
			color:white;
		}
		.fundo a:hover{
			color:#c11a26;
		}
		.fundo{
			text-decoration:none;
		}
		.footer-texto{
			color:#c11a26;
			
		}
		footer{ 
			 text-align: center;
			 color:white;
			 text-transform: uppercase;
		}
		.footer{
			background:#ff7400;
		}
		.display-logo{
			height:80px;
			width:80px;
		}
		.showcase-img{
			padding-top:10px;
		}
		  body{
          background-color:white;
        }
        .texto{
        	color:#ed3136;
        }
        nav{
        	border-radius:5px;
        }
        .img-thumbnail:hover{
        	background-color:#ed3136;
        	border-radius:5px;
        }
        a { 
        text-decoration: none;
        color: #1c1e1e; 
        -webkit-transition: all 0.3s; 
        -moz-transition: all 0.3s; transition: all 0.3s; 
        	
        }
		a:focus, a:hover{ 
			text-decoration: none; color: #fb730f; 
			
		}
		.alignright { 
			float: right; margin: 0px 0 20px 30px; 
			
		}
		.alignleft { float: left; margin: 0px 20px 0px 0; 
			
		}
		.showcase-block { 
			margin-bottom: 30px; 
			min-height: 300px; 
			background-color: #e8eaec; 
			padding: 30px 30px 0px 30px; 
			text-align: center; 
			
		}
		.showcase-img { 
			padding-top: 18px; 
			
		}
		.display-logo { margin-bottom: 30px; 
			
		}
		.showcase-block:hover { background-color: #fff; 
		-webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); 
		-moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); 
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); 
			
		}
		.showcase-block.active { background-color: #fff; 
		-webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); 
		-moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); 
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); 
			
		}
        .slide{
        	margin-top:0px;
        	z-index:1;
        }
        .navbar{
        	/*z-index:9999;*/
        	position:0;
        }
        .conteudo{
        	padding-top:50px;
        }
		#perfil_usuario_fundo{
			
			background-image: url('imgs/foto.jpg');
			
		}